.header_container {
  display: flex;
  height: 20vh;
  background: #000;
  color: #fff;
  border-bottom: 1px solid;
}

h3 {
  display: flex;
  width: 30%;
  margin: 0 0 0 2%;
  align-items: center;
}

ul {
  width: 65%;
  display: flex;
  margin: 0 2% 0 0;
  gap: 5vw;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
