* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc_container {
  width: 100%;
  margin: 2px 0 0 0;
}

.calc_row {
  height: 10vh;

  /* border-bottom: 1px solid #beb8b8; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.calc_col {
  width: 20%;
  height: 100%;
  display: flex;
  background-color: #ccc9c9;
  border: 1px solid #beb8b8;
  align-items: center;
  justify-content: center;
}

.calc_col_last {
  height: 100%;
  display: flex;
  background-color: #ccc9c9;
  border: 1px solid #beb8b8;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.orange {
  background-color: #f5740a;
}

.screen {
  width: 80%;
  height: 15vh;
  margin: 0 0 0 10%;
  background-color: #979595;
}
